@model Jogador
@{
    ViewData["Títle"] = "Jogador";
}

<form method= "POST" action='Url.Action("CadastrarJogador")' enctype="multipart/form-data">
    <label>ID Jogador</label>
    <input type="text" name= "IdJogador"/>

    <label >Nome</label>
    <input type="text" name= "Nome"/>

    <label >ID Equipe</label>
    <input type="text" name="IdEquipe"/>

    <button type="submit">Cadastrar</button>
</form>

<table class="table table-striped table-responsive">
    <thead>
        <th>ID Jogador</th>
        <th>Nome</th>
        <th>ID Equipe</th>
    </thead>
    <tbody>
        @foreach (Jogador jogador in ViewBag.Jogadores)
        {
            <tr>
                <td>@jogador.IdJogador</td>
                <td>@jogador.Nome</td>
                <td>@jogador.IdEquipe</td>
                <td><a asp-area="Link para excluir Jogador" asp-controller="Jogador" asp-action="Excluir" asp-route-id= "@jogador.IdJogador">Excluir</a></td>
            </tr>
        }
    </tbody>
</table>